@tailwind base;
@tailwind components;
@tailwind utilities;

/* .jdnjf{
  transform: ro;
} */
 /* .card{
  overflow-y:;
 } */
 /* .card::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgb(6, 19, 27);
  border-radius: 10px;
  height: 100%;
  width: 100%;
  z-index: -1;
  perspective: 5500px;
  transform-origin: left;
  transform: translateX(-10px) translateX(-5px) rotateY(-60deg) rotateX(-10deg);
 } */