@tailwind base;
@tailwind components;
@tailwind utilities;

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown) ~ .form__label {
  left: 0.8rem;
  top: -0.5rem;
  font-size: 0.8rem;
  opacity: .8;
}

.form__label {
  transition: all 0.2s ease;
}
.stgb{
  background-color: #83d13acc;
}
